/* Enter your custom styles here */
.customColumnHeader table thead tr th {
  background-color: #4caf50; /* เปลี่ยนสีตามต้องการ */
  color: white; /* สีข้อความ */
}

.customColumnHeader table thead tr th span {
  color: white !important;
}

.myCustomText {
  font-size: 20px; /* ขนาดฟอนต์ที่คุณต้องการ */
  font-weight: bold; /* น้ำหนักฟอนต์ */
}

#chart {
  max-width: 920px !important;
  width: 100% !important;
  border: 1px solid #333;
}
